[submodule "kirby"]
	path = kirby
	url = http://github.com/getkirby/kirby
[submodule "panel"]
	path = panel
	url = http://github.com/getkirby/panel
[submodule "site/plugins/seo-checklist"]
	path = site/plugins/seo-checklist
	url = https://github.com/dreadnip/kirby-seo-checklist
