/*-------------------------
	Simple reset
--------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*-------------------------
	General Styles
--------------------------*/
body {
  font-family: 'Inconsolata', sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #b8bfc8;
  background-color: #2B2B2B;
  padding: 50px; }

h1 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  white-space: pre; }

h2 {
  font-weight: normal;
  font-size: 1.1em;
  margin: 25px 0px 10px 0px; }

h3 {
  font-weight: normal;
  font-size: 1em;
  margin: 15px 0px 10px 0px; }

a,
a:visited {
  text-decoration: none;
  color: #f5a623; 
}

a:hover {
  color: #c37d09;
  transition: color 150ms ease; }

b {
  color: #6897bb;
  font-weight: normal; }

ul {
  list-style: none; }

ul li {
  margin-left: 30px; }

/*-------------------------
    Site layout
--------------------------*/
.main {
  width: 45em;
  margin-left: 100px; }

.work ul li h3 {
  color: #f5a623; }

/*-------------------------
    "Code" like styling
--------------------------*/
.classname {
  color: #df4379;
  margin-right: 10px; }

.project-id {
  margin-right: 10px; }

.bracket {
  color: #737373; }

.closing {
  display: block;
  margin-top: 10px;
  clear: both; }

.comment {
  color: #737373; }

.string {
  color: #548759; }

.description {
  display: inline-block;
  max-width: 500px; }

.value {
  color: #6897bb; }

.properties li span {
  vertical-align: top; }

.project-meta {
  display: block; }

/*-------------------------
    Random stuff
--------------------------*/
.error-title {
  font-size: 120px; }

::selection {
  background: #f5a623; }

::-moz-selection {
  background: #f5a623; }

.languages ul li {
  display: inline;
  margin: 0;
}

.languages ul > li:not(:last-child):after {
  content: '/';
}

/*-------------------------
    Responsive
--------------------------*/
@media (max-width: 50em) {
  body {
    padding: 10px; }

  .main {
    width: 95vw;
    margin-left: 0px; }

  h1 {
    white-space: pre-line; } }